<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>

{{- if and (.Param "breadcrumb") (not .IsHome) }}
  {{ partial "breadcrumb.html" . }}
{{ end -}}
<header>{{ block "title" . }}{{ end }}</header>
<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
</article>
</main>
{{ block "footer" . }}
<footer class="editorial-footer">
  <div class="footer-inner">
    <div class="footer-left">
      {{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
    </div>

    <!--     on the right side of taglist, i don't wanat nextprev -->
    <!-- <div class="footer-right"> -->
    <!--   {{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}} -->
    <!-- </div> -->

  </div>
</footer>
{{ end }}
</body>
</html>
