{{ define "title" }}{{ end }}
{{ define "main" }}
<div class="home-hero">
  <div class="home-hero-intro">
    <img
      src="https://avatars.githubusercontent.com/u/93462792"
      alt="Jitendra Dara"
      class="home-avatar"
      width="80"
      height="80"
      loading="eager"
      title="not an anime pfp guy, this is a real photo"
    />
    <div class="home-hero-text">
      <h1 class="home-name">Jitendra Dara<span class="cursor">_</span></h1>
      <p class="home-tagline">save tokens activist · idk why the loop's still running</p>
    </div>
  </div>

  <div class="home-bio">
    {{ .Content }}
  </div>

  <div class="home-actions">
    <a href="/me/projects" class="home-link">
      <img src="/logos/code.svg" alt="" class="inline-icon-svg" />projects
    </a>
    <a href="/resume.pdf" class="home-link">
      <img src="/logos/file.svg" alt="" class="inline-icon-svg" />resume
    </a>
    <a href="/me/contact" class="home-link">
      <img src="/logos/gmail.svg" alt="" class="inline-icon-svg" />contact
    </a>
  </div>
</div>


<section>
  <div class="section-head">
    <h2 class="headline-md">writings</h2>
    <a href="/writings" class="section-head-all">all &#8669</a>
  </div>
  <ul class="article-list">
    {{- range first 5 (where .Site.RegularPages "Params.rss_exclude" "!=" true).ByLastmod.Reverse }}
    {{- $displayDate := .Lastmod }}
    <li>
      {{- if $.Param "datesinlist" }}
      <span class="label-sm">
        <time datetime="{{ $displayDate.Format "2006-01-02T15:04:05Z07:00" }}">{{ $displayDate.Format "2 Jan 2006" }}</time>
      </span><br>
      {{ end -}}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{- end }}
  </ul>
</section>

{{ end }}
