{{ define "title" -}} {{- end }} {{ define "main" -}}
<div class="portfolio-wrapper">
  <section class="portfolio-hero">
    <h1 class="display-lg">
      Jitendra Dara. <br />
      <span class="hero-subtext">20 / CS Student</span>
    </h1>

    <div class="hero-content">{{ .Content }}</div>
  </section>

  <section class="portfolio-projects">
    <!-- <div class="section-header"> -->
    <!--   <h2 class="headline-md">Selected Work</h2> -->
    <!--   <span class="label-sm">2025 — 2026</span> -->
    <!-- </div> -->

    <div>
      {{- range .Pages }}
      <article>
        <div>
          <h3>
            <a href="{{ .RelPermalink }}" >{{ .Title }}</a>
          </h3>
          <p class="project-summary">{{ .Summary }}</p>
        </div>
      </article>
      {{- end }}
    </div>
  </section>
</div>
{{- end }}
