<nav aria-label="Main Navigation">
<a href="/" class="site-title" title="67 in ascii. i was here before the brainrot">
  <img src="/gifs/67.gif" alt="" aria-hidden="true" class="inline-icon-svg" width="48" height="48">{{ .Site.Title }}  
</a>

  <div class="nav-links">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }} {{ if ne .URL "/" }}
    {{ $isActive := or (eq $currentPage.RelPermalink .URL) (hasPrefix $currentPage.RelPermalink .URL) }}
    <a href="{{ .URL }}"{{ if $isActive }} class="active" aria-current="page"{{ end }}>{{ .Name }}</a>
    {{ end }} {{ end }}
    <button
      class="theme-toggle"
      id="theme-toggle"
      aria-label="Toggle theme"
      title="Toggle flashbang"
    >
      <img class="icon-sun" src="/logos/light.svg" alt="" aria-hidden="true" />
      <img class="icon-moon" src="/logos/dark.svg" alt="" aria-hidden="true" />
    </button>
  </div>
</nav>
