<nav>
  <a href="/" class="site-title">{{ .Site.Title }}</a>

  <div class="nav-links">
    {{ range .Site.Menus.main.ByWeight }} {{ if ne .URL "/" }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }} {{ end }}
    <button
      class="theme-toggle"
      id="theme-toggle"
      aria-label="Toggle theme"
      title="Toggle flashbang"
    >
      <img class="icon-sun" src="/logos/light.svg" alt="light-mode" />
      <img class="icon-moon" src="/logos/dark.svg" alt="dark-mode" />
    </button>
  </div>
</nav>
