<!-- i'll leave it here although i removed it -->
{{ if or .Next .Prev -}}
<div id="nextprev" class="footer-nav">
  {{- with .Next -}}
  <div class="nav-item">
    <span class="masthead-label">Continue Reading</span>
    <a href="{{ .RelPermalink}}" class="display-md">{{.Title}}</a>
  </div>
  {{ end -}} {{- with .Prev }}
  <div class="nav-item">
    <span class="masthead-label">Previously</span>
    <a href="{{ .RelPermalink}}" class="display-md">{{.Title}}</a>
  </div>
  {{ end -}}
</div>
{{ end -}}
