        {{- if isset .Params "tags" -}}
            {{- $tagsLen := len .Params.tags -}}
            {{- if gt $tagsLen 0 -}}
        <div class="taglist">
		<span class="masthead-label">{{- with .Site.Params.relatedtext }}{{ . }}{{ else }}Index{{ end -}}</span>
                <ul>
                {{- range $k, $v := .Params.tags -}}
                {{- $url := printf "/tags/%s" (. | urlize | lower) -}}
                <li><a id="tag_{{ . | lower }}" href="{{ $url | absURL }}">{{ . | title }}</a></li>
                {{- end -}}
                </ul>
        </div>
            {{- end -}}
        {{- end }}
