{{- /* img: Standard article image figure with optional caption, link, alt, and title. Usage: {{< img src="/pic.png" caption="Text" >}} */ -}}
<figure {{ with .Get "class" }}class="{{.}}"{{ end -}}>
	{{- with .Get "link"}}<a href="{{.}}">{{ end -}}
	<img src="{{ .Get "src" }}"
	     {{- with .Get "mouse" }} title="{{.}}"{{ end -}}
	     {{- with .Get "alt" }} alt="{{.}}"{{ end -}}
	     loading="lazy"
	>
	{{- if .Get "link"}}</a>{{ end -}}
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . -}}
	</figcaption>
	{{- end -}}
</figure>
